@model IEnumerable<IndexViewModel>

@{
    ViewData["Title"] = "Home Page";
    var categories = Model.ToList();
}

<h2 class="text-center">WELCOME</h2>
<div class="row">
    @if (categories.Any())
    {
        @foreach (var cat in Model)
        {
            <div class="col-md-4 col-sm-12">
                <p><img class="mt-5 img-thumbnail border-0" src="@cat.ImageUrl" alt="@cat.Name"></p>
                <h3>@cat.Name</h3>
                <p class="mb-5">@cat.Description</p>
                <a asp-controller="Booking" asp-action="Add" class="btn btn-danger btn-lg" role="button">Booking</a>
            </div>
        }
    }
</div>
