@model List<BookingAllViewModel>
@{
    ViewData["Title"] = "My Bookings";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

@if (!Model.Any())
{
    <h2 class="text-center">You do not have any boookings yet!</h2>
}
else
{
    <div class="row">
        @foreach (BookingAllViewModel booking in Model)
        {
            <partial name="_BookingPartial" model="booking" />
        }
    </div>
}
