@model RoomFormModel
@{
    ViewData["Title"] = "Add Room";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_RoomFormPartial" model="@Model" />

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
